.grid-cards {
  max-width: 882px;
}
@media screen and (max-width: 1023px) {
  .grid-cards {
    max-width: 584px;
  }
 }

@media screen and (max-width: 599px) {
  .grid-cards {
    max-width: 282px;
  }
 }
