.grid-cards__list {
  margin: 0 auto;
  max-width: 882px;
  padding: 0;
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 18px 1fr 18px 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 18px;
}

@media screen and (max-width: 1023px) {
  .grid-cards__list {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    max-width: 70vw;
  }
 }
@media screen and (max-width: 767px) {
  .grid-cards__list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    max-width: 282px;
    gap: 19px 0px;
  }
 }
