.edit-form__close-button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  position: absolute;
  top: -45px;
  right: -45px;
  opacity: 1;
  cursor: pointer;
  transform: rotate(-45deg);
}

.edit-form__close-button:focus {
outline: none;
}

.edit-form__close-button:hover {
opacity: .6;
transition: opacity .3s linear;
}
@media screen and (max-width: 599px) {
  .edit-form__close-button {
    top: -35px;
    right: -10px;
  }
}
